
/*Reset the browser*/
*{
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #c4041c;
}

h1,
h2,p,label {
    color: white;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
    border: 2px solid black;
    border-radius: 30px;
    width: 25%;
    margin: auto;
    margin-bottom: 10px;
}
/*Define the timer*/
#timer {
    font-size: 75px;
    border: 10px solid beige;
    border-radius: 50%;
    width: 350px;
    height: 350px;
    line-height: 400px;
    margin: auto;
    box-shadow: 0px 0px 5px 5px rgb(24, 21, 21);
}

#start {
    margin-top: 20px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: #c4041c;
    border-color: white;
    color: white;
}

/*Hide the reset button*/
#reset {
    display: none;
    margin-top: 20px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: #c4041c;
    border-color: white;
    color: white;
}

footer{
    background-color: black;
    bottom: 0;
    width: 100%;
}